.checkoutMainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
.checkoutHeader {
  width: 100%;
  height: 20vh;
  border: 1px solid red;
}
.checkoutContainer {
  border: 1px solid red;
  width: 90%;
  height: 50vh;
}
